<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On
</IfModule>

<IfModule mod_rewrite.c>
    RewriteCond %{HTTP_HOST} ^cp.(.*)$ [NC]


    RewriteRule ^iChat/admin/(.*)$ backend/web/index.php/$1 [L,PT]

    RewriteRule ^(.*)$ frontend/web/index.php/$1 [L]

</IfModule>



